.git/
.github/
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/

data/
docs/
docs_perso/
htmlcov/
logs/
mlruns/
mlartifacts/
monitoring/reference/
notebooks/
reports/
tests/
ui/

*.db
*.sqlite
*.pyc
*.pyo
*.pyd
*.log
